body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #999;
  }
  
  .game-container {
    position: relative;
  }
  
  #character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Задайте подходящую ширину */
    height: auto;
  }